.block1-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    background-color: rgb(123, 108, 139);

    padding: 20px;
    margin: 20px;

    border: 2px solid rgb(114, 114, 114);
    box-shadow: 0px 0px 8px rgb(114, 114, 114);

    height: 100px;
    width: 200px;
}

.block1-text{
    padding-left: 40px;
}

.block2-text{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

    color: rgb(238, 238, 238);
    font-family: 'Neris';
    src: local(''),
    url('..//fonts/Neris-Light.otf') format('otf');

        
    margin:0px;
    padding: 0px;
    margin-top: 50px;
}

.block2-text p{
    padding-left: 15px;
    padding-right: 15px;  
    margin: 0px;
}

.img-margin
{
    margin: 10px;
}

.hs-center
{
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

ul{
    padding: 0px;
}

li{
    
    list-style-type: none;
}