 #One 
  { 
  grid-area: one;
  background-color: rgb(122, 57, 165);
  padding: 10%;
  }

  #Two
  { 
    grid-area: two;
    background-color: rgb(122, 57, 165);
    padding: 10%;
  }

  #Three
  { 
    grid-area: three;
    background-color: rgb(122, 57, 165);
    padding: 10%;
  }

  #Four
  { 
    grid-area: four;
    background-color: rgb(122, 57, 165);
    padding: 10%;
  }

  #Five
  { 
    grid-area: five;
    background-color: rgb(122, 57, 165);
    padding: 10%;
  }

  #Six
  { 
    grid-area: six;
    background-color: rgb(122, 57, 165);
    padding: 10%;
  }

  #Seven
  { 
    grid-area: seven;
    background-color: rgb(122, 57, 165);
    padding: 10%;
  }

  #Eight
  { 
    grid-area: eight;
    background-color: rgb(122, 57, 165);
    padding: 10%;
  }

  #Nine
  { 
    grid-area: nine;
    background-color: rgb(122, 57, 165);
    padding: 10%;
  }

  .container {
    display: grid;
    grid-template-columns: 678px, 294px, 38px;
    grid-auto-rows: 50px;
    grid-template-areas:
      "one one one one one one two   two   two   seven"
      "one one one one one one two   two   two   seven"
      "one one one one one one two   two   two   seven"
      "one one one one one one three three three seven"
      "one one one one one one three three three seven"
      "four four four five five five five five five seven"
      "four four four five five five five five five seven"
      "six six six eight eight eight nine nine nine seven"
      "six six six eight eight eight nine nine nine seven";
      gap: 12px; 
      font-size: 18px;
      color: rgb(255, 255, 255);
}