.light
{
    background-color: #ffffff;
    color: #171718; 
}

.light input
{
    background-color: rgb(47, 40, 73);
    color: #eee;
}

.dark
{
    background-color: #352550;
}

.dark p, .dark .hs, .dark #second_hide
{
    color: #eee;
}

.dark .footer-text
{
color: rgb(189, 187, 196);
}

.dark input
{
    background-color: #eee;
    color: rgb(47, 40, 73);
}


